$color_1: #1f1d1d;
$color_2: #111;
$color_3: #fff;
$color_4: #e0d7d7;
$color_5: #3d3b3b;
$color_6: #f2f2f2;
$font-family_1: 'Franklin Gothic Medium';
$font-family_2: sans-serif;
$font-family_3: Arial;
$background-color_1: #fff;
$background-color_2: #f2f2f2;
$background-color_3: #d3f7c5;
$background-color_4: #99db97;
$background-color_5: #2fff3a;
$background-color_6: #111;

/* index*/
/* Forms */
/* Clear floats after the columns */
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
/* footer */
* {
	text-decoration: none;
}
main {
	padding-top: 100px;
}
header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background-color: $background-color_1;
	width: 100%;
	height: 100px;
	.header-brand {
		font-family: $font-family_1;
		font-size: 24px;
		font-weight: 800;
		color: $color_1;
		text-transform: uppercase;
		display: block;
		margin: 0 auto;
		text-align: center;
		padding: 20px 0px;
	}
	nav {
		ul {
			display: block;
			margin: 0 auto;
			width: fit-content;
			li {
				display: inline-block;
				list-style: none;
				padding: 0 14px;
				a {
					font-family: $font-family_2;
					font-size: 14px;
					color: $color_2;
					text-transform: uppercase;
				}
			}
		}
	}
	.header-about {
		display: none;
	}
}
.index-banner {
	width: 100%;
	height: calc(100vh - 140px);
	background-image: url('images/final-2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: table;
	h2 {
		font-family: $font-family_2;
		font-size: 50px;
		font-weight: 900;
		line-height: 60px;
		color: $color_3;
		text-align: center;
		text-shadow: 2px 2px 8px #111;
	}
	h1 {
		font-family: $font-family_3;
		font-size: 24px;
		font-weight: 100;
		font-style: italic;
		line-height: 34px;
		color: $color_3;
		text-align: center;
		text-shadow: 2px 2px 8px #111;
	}
}
.vertical-center {
	display: table-cell;
	vertical-align: middle;
}
.index-links {
	div {
		margin: 14px 14px 0;
		width: calc(100% - 32px);
		height: 100px;
		background-color: $background-color_2;
		h3 {
			font-family: $font-family_2;
			font-size: 24px;
			font-weight: 500;
			line-height: 100px;
			color: $color_2;
			text-align: center;
			text-transform: uppercase;
		}
	}
}
.case-vid {
	h2 {
		font-family: $font-family_2;
		font-size: 24px;
		font-weight: 500;
		color: $color_2;
		text-align: center;
		text-transform: uppercase;
	}
	video {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		padding: 30px 0;
	}
	article {
		h3 {
			font-family: $font-family_2;
			font-size: 24px;
			font-weight: 500;
			color: $color_2;
			text-transform: uppercase;
			padding-bottom: 20px;
		}
		div {
			p {
				font-family: $font-family_2;
				font-size: 14px;
				font-weight: 500;
				line-height: 24px;
				color: $color_5;
				text-transform: uppercase;
				column-count: 3;
				column-gap: 32px;
			}
		}
	}
}
input[type=text] {
	width: 100%;
	padding: 12px;
	border: 1px solid #37ff55;
	border-radius: 4px;
	resize: vertical;
	background-color: $background-color_3;
}
select {
	width: 100%;
	padding: 12px;
	border: 1px solid #37ff55;
	border-radius: 4px;
	resize: vertical;
	background-color: $background-color_3;
}
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #37ff55;
	border-radius: 4px;
	resize: vertical;
	background-color: $background-color_3;
}
label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}
input[type=submit] {
	background-color: $background-color_4;
	color: $color_2;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
	&:hover {
		background-color: $background-color_5;
	}
}
.container {
	border-radius: 5px;
	background-color: $background-color_6;
	color: $color_6;
	padding: 20px;
	margin-top: 100px;
	margin-right: 50px;
	margin-left: 50px;
	box-sizing: border-box;
}
.col-25 {
	float: left;
	width: 20%;
	margin-top: 10px;
}
.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}
.row {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
footer {
	width: calc(100% - 80px);
	padding: 40px 40px;
	margin-top: 20px;
	background-color: $background-color_6;
	overflow: hidden;
	ul {
		width: fit-content;
		float: left;
		padding-left: 20px;
		li {
			display: block;
			list-style: none;
			a {
				font-family: $font-family_2;
				font-size: 18px;
				color: $color_3;
				line-height: 32px;
			}
		}
	}
}
.footer-links-cases {
	display: none;
}
.footer-links-details {
	display: none;
}
.footer-sm {
	width: 40px;
	float: right;
	img {
		width: 120%;
		margin-bottom: 15px;
	}
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
	header {
		.header-brand {
			font-size: 26px;
			font-weight: 900;
			padding: 10px 0px;
		}
		nav {
			ul {
				margin: 10px 0px 10px;
				float: left;
				margin-top: 10px;
				li {
					a {
						font-size: 16px;
						text-align: left;
					}
				}
			}
		}
		.header-about {
			display: block;
			font-family: $font-family_2;
			font-size: 16px;
			color: $color_2;
			text-transform: uppercase;
			line-height: 30px;
			border: 1px solid #111;
			float: right;
			margin-right: 40px;
			margin-top: 2px;
			padding: 0 20px;
		}
	}
	.index-banner {
		width: 100%;
		height: 450px;
		width: 100%;
		background-image: url('images/final-3.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		display: table;
		h1 {
			display: block;
			width: 560;
			margin: 0 auto;
		}
	}
	.index-links {
		overflow: hidden;
		div {
			margin-left: 25%;
			margin-right: 50%;
			height: 225px;
			background-color: $background-color_2;
			h3 {
				line-height: 225px;
				font-family: $font-family_3;
				font-size: 20px;
				font-weight: 600;
				line-height: 150px;
				color: $color_4;
				text-align: center;
				text-shadow: 2px 2px 8px #111;
			}
		}
	}
	.index-boxlink-square-1 {
		width: 50% !important;
		float: center;
		width: 100%;
		background-image: url('images/final-5.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.index-boxlink-square-2 {
		width: 50% !important;
		float: center;
		width: 100%;
		background-image: url('images/Final-popular-2.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.index-boxlink-square-3 {
		width: 50% !important;
		float: center;
		width: 100%;
		height: 100%;
		background-image: url('images/Image-4.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.index-boxlink-square-4 {
		width: 50% !important;
		float: center;
		width: 100%;
		background-image: url('images/Final-popular-4.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.index-boxlink-rectangle-1 {
		width: 50% !important;
		float: center;
		width: 100%;
		background-image: url('images/Final-popular-1.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.index-boxlink-rectangle-2 {
		width: 50% !important;
		float: center;
	}
	.index-boxlink-square-game1 {
		width: 50% !important;
		float: center;
		width: 100%;
		background-image: url('images/Final-game-9.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.index-boxlink-square-game2 {
		width: 50% !important;
		float: center;
		width: 100%;
		background-image: url('images/Final-game-2.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.index-boxlink-square-game3 {
		width: 50% !important;
		float: center;
		width: 100%;
		background-image: url('images/Final-game-3.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.index-boxlink-square-game4 {
		width: 50% !important;
		float: center;
		width: 100%;
		background-image: url('images/Final-game-5.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.index-boxlink-square-game5 {
		width: 50% !important;
		float: center;
		width: 100%;
		background-image: url('images/Final-game-6.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.index-boxlink-square-game6 {
		width: 50% !important;
		float: center;
		width: 100%;
		background-image: url('images/Image-7.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.index-boxlink-rectangle-game1 {
		width: 50% !important;
		float: center;
		width: 100%;
		background-image: url('images/Final-game-8.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.index-boxlink-rectangle-game2 {
		width: 50% !important;
		float: center;
		width: 100%;
		background-image: url('images/Final-popular-3.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.index-boxlink-rectangle-game3 {
		width: 50% !important;
		float: center;
		width: 100%;
		background-image: url('images/final-game-10.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.footer-links-details {
		display: block;
	}
	footer {
		ul {
			padding-right: 30px;
			li {
				p {
					font-family: $font-family_2;
					font-size: 18px;
					color: $color_3;
					line-height: 0px;
					text-transform: uppercase;
				}
			}
		}
	}
}
@media only screen and (min-width: 1025px) {
	header {
		.header-brand {
			font-size: 28px;
			font-weight: 1000;
			margin: 30px 0;
			text-align: left;
			line-height: 40px;
			padding: 0 20px 0 40px;
			border-right: 3px solid #111;
			float: left;
		}
		nav {
			ul {
				margin: 20px 0px 0px 20px;
				float: left;
				li {
					a {
						line-height: 60px;
						font-size: 18px;
					}
				}
			}
		}
		.header-about {
			display: block;
			font-family: $font-family_2;
			font-size: 16px;
			color: $color_2;
			text-transform: uppercase;
			line-height: 40px;
			border: 1px solid #111;
			float: right;
			margin-right: 40px;
			margin-top: 31px;
			padding: 0 20px;
		}
	}
	.wrapper {
		width: 1025px;
		margin: 0 auto;
	}
	.index-banner {
		width: 100%;
		height: 450px;
		width: 100%;
		height: calc(100vh - 140px);
		background-image: url('images/final-4.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		display: table;
		h1 {
			display: block;
			width: 560;
			margin: 0 auto;
		}
	}
	.index-links {
		overflow: hidden;
		div {
			margin: 14px 14px 0;
			height: 225px;
			background-color: $background-color_2;
			float: left;
			h3 {
				line-height: 225px;
				font-family: $font-family_3;
				font-size: 20px;
				font-weight: 600;
				line-height: 150px;
				color: $color_4;
				text-align: center;
				text-shadow: 2px 2px 8px #111;
			}
		}
	}
	.index-boxlink-square-1 {
		width: calc(25% - 35px) !important;
		float: center;
		width: 100%;
		background-image: url('images/final-5.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.index-boxlink-square-2 {
		width: calc(25% - 35px) !important;
		width: 100%;
		background-image: url('images/Final-popular-2.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.index-boxlink-square-3 {
		width: calc(25% - 35px) !important;
		width: 100%;
		height: 100%;
		background-image: url('images/Image-4.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.index-boxlink-square-4 {
		width: calc(25% - 35px) !important;
		width: 100%;
		background-image: url('images/Final-popular-4.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.index-boxlink-rectangle-1 {
		width: calc(50% - 20px) !important;
		width: 100%;
		background-image: url('images/Final-popular-1.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.index-boxlink-rectangle-2 {
		width: calc(50% - 20px) !important;
	}
	.index-boxlink-square-game1 {
		width: calc(25% - 35px) !important;
		float: center;
		width: 100%;
		background-image: url('images/Final-game-9.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.index-boxlink-square-game2 {
		width: calc(25% - 35px) !important;
		float: center;
		width: 100%;
		background-image: url('images/Final-game-2.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.index-boxlink-square-game3 {
		width: calc(25% - 35px) !important;
		float: center;
		width: 100%;
		background-image: url('images/Final-game-3.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.index-boxlink-square-game4 {
		width: calc(25% - 35px) !important;
		float: center;
		width: 100%;
		background-image: url('images/Final-game-5.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.index-boxlink-square-game5 {
		width: calc(25% - 35px) !important;
		float: center;
		width: 100%;
		background-image: url('images/Final-game-6.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.index-boxlink-square-game6 {
		width: calc(25% - 35px) !important;
		float: center;
		width: 100%;
		background-image: url('images/Image-7.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.index-boxlink-rectangle-game1 {
		width: calc(50% - 20px) !important;
		width: 100%;
		background-image: url('images/Final-game-8.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.index-boxlink-rectangle-game2 {
		width: calc(50% - 20px) !important;
		width: 100%;
		background-image: url('images/Final-popular-3.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.index-boxlink-rectangle-game3 {
		width: calc(50% - 20px) !important;
		width: 100%;
		background-image: url('images/final-game-10.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.footer-links-details {
		display: block;
	}
	.footer-links-cases {
		display: block;
	}
	footer {
		ul {
			padding-right: 30px;
			li {
				p {
					font-family: $font-family_2;
					font-size: 18px;
					color: $color_3;
					line-height: 0px;
					text-transform: uppercase;
				}
			}
		}
	}
}
@media screen and (max-width: 600px) {
	.col-25 {
		width: 100%;
		margin-top: 0;
	}
	.col-75 {
		width: 100%;
		margin-top: 0;
	}
	input[type=submit] {
		width: 100%;
		margin-top: 0;
	}
}
